<table class="tile-table">
  <tr ng-repeat="row in $ctrl.game.tiles">
    <td class="nest" ng-repeat="cell in row">
      <div class="nest-tile sample-show-hide"
        ng-mousedown="$ctrl.game.pick(cell)" ng-hide="cell.removed">
        <i class="fa fa-{{$ctrl.game.icons[cell.icon]}} fa-5x sample-show-hide"
          aria-hidden="true" ng-show="cell.shown">
        </i>
      </div>
    </td>
  </tr>
</table>
<div class="center spaced padded">
  <button class="btn large rounded {{$ctrl.game.gameover ? 'orange' : 'aquamarin'}}"
    ng-click="$ctrl.game.start()">
    {{$ctrl.game.gameover ? 'Congratulations!' : 'Restart'}}
  </button>
</div>